* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
}
body {
  background-color: #f5f6fa;
  font-family: "Teko", sans-serif;
}
p,
h2,
h3 {
  font-family: "Teko", sans-serif !important;
}
